.navBar {
    background-color: #333;
    color: #eee;
    display: flex;
    flex-direction: row;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBar a, .navBar li{
    margin: 10px;
    color: #eee;
    text-decoration: none;
    list-style: none;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    gap: 5px;
    background-image: url(../img/Dark_Wood_Background.jpg);
    height: 100%;
}

.mainContainer h3{
    margin: 30px;
    color: #59e3ea;
}