.formContainer {
	position: relative;
	bottom:50px;
	left: 0;
	right: 0;
    margin:auto;
    padding:25px;
    border: 1px solid #59e3ea;
    display: flex;
	flex-direction: column;
    width: 300px;
    background: #111111bb;
	backdrop-filter: blur(7px);
    border-radius: 15px;
	box-shadow: 10px 10px 7px #00000066;
	z-index: 10;
}


.formulario input, .formulario select, input.gridjs-input {
	color: #eee;
	background: #55555533;
	border-radius: 10px;
	height: 35px;
	margin: 0 auto 13px 10%;
	padding: 10px;
	transition: all .3s ease-out;
}

.formulario input:focus, .formulario select:focus, input.gridjs-input:focus {
	color: #59e3ea;
	background: #444;
}

.formulario input:hover, .formulario select:hover, input.gridjs-input:hover {
	background: #666;
}

.formulario label {
	padding: 0 5px;
	font-size: 16px;
	color: #bbb;
	margin-left: 20%;
	margin-bottom: 2px;
	text-transform: capitalize;
}

.formulario label[for="impresion"] {
	margin: 5px;
}

.formulario input[type="number"] {
	display: inline;
	width: 50%;
	margin-left: 20%;

} 

.formulario input[type="text"], .formulario select {
	width: 80%;
	grid-column: span 2;
} 

.formulario input[type="radio"] {
	display: inline-block;
	height: 15px;
	width: fit-content;
	margin-left: 10%;
	margin-right: 0;
	margin-top: 5px;
	margin-bottom: 5px;
} 

.formulario button {
	border: 1px solid #666;
	padding: 10px 20px;
	margin: 10px;
	color: #666;
	background-color: #111;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #000;
	transition: all 2s;
}

.formulario button:hover {
	border: 1px solid #59e3ea;
	color: #59e3ea;
	background-color: #222;
	box-shadow: 5px 5px 10px #000;

	transition: all .3s;

}

.formulario > .inputError {
	background-color: #f24;
	border: 2px solid #900;
}