body {
  margin: 0;
  width: 100vw;
  height: 100vh;
 /*  background-image: url('./img/Dark_Wood_Background.jpg'); */
 /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
 /* background-image: radial-gradient(circle, #b0eaf6, #b3f3ee, #c3f9e1, #dcfed4, #fbffcb); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
